.monitor > .wrapper > .temp {
  border: 2px solid #323232;
  box-sizing: border-box;
  border-radius: 0.5em;
  flex-grow: 1;
}

.monitor > .wrapper > .temp > .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-block: 20px;
  padding-inline: 25px;
  width: 256px;
}

.monitor > .wrapper > .temp > .wrapper > .tempTitle {
  font-weight: 700;
  margin-bottom: 10px;
}
.monitor > .wrapper > .temp > .wrapper > div > div > .tempDisplay {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.monitor > .wrapper > .temp > .wrapper > div > div > .tempDisplay > .tempData {
  font-size: 45pt;
}
.monitor > .wrapper > .temp > .wrapper > div > div > .tempDisplay > .celsius {
  font-size: 35pt;
}
.monitor > .wrapper > .temp > .wrapper > div > div > .humidity {
  font-size: 20pt;
  text-align: right;
}